.main-app {
    width: 100vw;
    height: 100vh;
    display: flex;
  
    @media (min-width: 780px) {
      .left-side {
        width: 20vw;
        min-height: 100%;
        background-color: $themed_color_2;
      }
  
      .right-side {
        width: 80vw;
      }
    }
  
    @media (max-width: 780px) {
      .right-side {
        width: 100vw;
      }
    }
  
    .right-side {
      min-height: 100%;
      background-color: black;
    }
  }