.NotesEditor {
    width: 100%;
    min-height: calc(100vh - 3rem);
    display: flex;

    .notes {
        width: 80%;
        min-height: calc(100vh - 3rem);

        .topic-name {
            color: white;
            font-weight: bold;
            font-size: 2rem;
            margin-left: 20px;
            margin-top: 0.5rem;
            margin-bottom: 0px;
        }

        .notes-editor {
            min-height: calc(100vh - 5.5rem);
            
            .editor-content {
                color: white;
                margin-left: 20px;
                margin-right: 20px;
            }
            .ProseMirror {
                outline: none;
                min-height: calc(100vh - 5.5rem);
            }
        }
    }

    .toolbar {
        width: 20%;
        min-height: calc(100vh - 3rem);
        background-color: $themed_color_2;

        div {
            width: 100%;
            height: 3rem;
            margin: 0px;
            display: flex;
            align-items: center;
            
            button{
                border: 0px;
                background-color: transparent;

                &:not(.not-like-the-other-buttons) {
                    padding: 0px;
                    width: 2rem;
                    height: 2rem;
                    margin-left: auto;
                    margin-right: auto;
                }

                &:first-of-type {
                    margin-left: 1/32 * 100%;
                }

                &:last-of-type {
                    margin-right: 1/32 * 100%;
                }

                &.active, &:active {
                    background-color: $themed_color_3;
                }
            }

            &.section-two {
                .not-font-size {
                    width: 80%;
                }

                .font-size {
                    width: 4rem;
                    height: 1.5rem;
                    border: 0px;
    
                    .font-size-2 {
                        height: 1.5rem;
                        width: 3rem;
                        background-color: white;
                        
                        .font-size-input {
                            width: 1rem;
                            background-color: transparent;
                            border: 0px;
                            padding-left: 4px;
                            outline: none;
                            /* For most browsers */
                            -moz-appearance: textfield; /* Firefox */
                            -webkit-appearance: none; /* Safari and Chrome */
                            appearance: none;
                          
                            /* To hide the up/down arrows specifically for WebKit browsers (Chrome, Safari) */
                            &::-webkit-outer-spin-button,
                            &::-webkit-inner-spin-button {
                              -webkit-appearance: none;
                              margin: 0;
                            }
                        }
    
                        button {
                            width: 2px;
                            color: $themed_color_1;
                            padding: 0px;
                        }
                    }
                }
            }

            &.section-three {
                display: flex;

                .text-size {
                    width: 70%;
                    margin: 0px;

                    .text-size-2 {
                        width: 80%;
                        margin-left: 1/8 * 100%;
                        margin-right: auto;

                        .text-size-input {
                            width: 70%;
                        }

                        button {
                            margin: 0px;
                            padding: 0px;
                        }
                    }
                }

                .not-text-size {

                }
            }
        }
    }
}