.NotesEditor {
    width: 100%;
    min-height: calc(100vh - 3rem);
    display: flex;

    .notes {
        width: 80%;
        min-height: calc(100vh - 3rem);

        .topic-name {
            color: white;
            font-weight: bold;
            font-size: 2rem;
            margin-left: 20px;
            margin-top: 0.5rem;
            margin-bottom: 0px;
        }

        .notes-editor {
            min-height: calc(100vh - 5.5rem);
            
            .editor-content {
                color: white;
                margin-left: 20px;
                margin-right: 20px;
            }
            .ProseMirror {
                outline: none;
                min-height: calc(100vh - 5.5rem);
            }

            strong {
                font-weight: bold;
            }

            p, h1, strong, em, h2, h3, h4 {
                margin-top: 5px;
                margin-bottom: 0px;
            }

            mark {
                background-color: transparent; /* Remove the default yellow background */
                color: inherit; /* Ensure text color is inherited */
                padding: 0; /* Remove any default padding */
            }
        }
    }

    .toolbar {
        width: 20%;
        min-height: calc(100vh - 3rem);
        background-color: $themed_color_2;

        div {
            width: 100%;
            margin: 0px;
            
            &:not(.section-three-point-five) {
                height: 3rem;
                display: flex;
                align-items: center;
            }

            button{
                border: 0px;
                background-color: transparent;

                &:not(.not-like-the-other-buttons) {
                    padding: 0px;
                    width: 2rem;
                    height: 2rem;
                    margin-left: auto;
                    margin-right: auto;
                }

                &:first-of-type {
                    margin-left: 1/32 * 100%;
                }

                &:last-of-type {
                    margin-right: 1/32 * 100%;
                }

                &.active, &:active {
                    background-color: $themed_color_3;
                }
            }

            &.section-two {
                .not-font-size {
                    width: 80%;
                }

                .font-size {
                    width: 20%;
                    height: 1.5rem;
                    border: 0px;
                    
                    .font-size-input {
                        width: 50%;
                        border: 0px;
                        padding-left: 4px;
                        outline: none;
                        margin-left: auto;
                        margin-right: auto;
                        /* For most browsers */
                        -moz-appearance: textfield; /* Firefox */
                        -webkit-appearance: none; /* Safari and Chrome */
                        appearance: none;
                        
                        /* To hide the up/down arrows specifically for WebKit browsers (Chrome, Safari) */
                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                    }

                    button {
                        width: 2px;
                        color: $themed_color_1;
                        padding: 0px;
                    }
                }
            }

            &.section-three {
                display: flex;

                .text-size {
                    width: 70%;
                    margin: 0px;

                    .text-size-2 {
                        width: 80%;
                        margin-left: 1/8 * 100%;
                        margin-right: auto;

                        .text-size-input {
                            width: 70%;
                        }

                        button {
                            margin: 0px;
                            padding: 0px;
                        }
                    }
                }
            }

            &.section-three-point-five {
                display: block;

                .heading-title {
                    width: calc(100% - 20px);
                    margin-left: 10px;
                    margin-right: 10px;
                    padding-left: 10px;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    display: block;
                    color: $themed_color_1;

                    &.active {
                        background-color: $themed_color_3;
                    }
                }
            }

            &.section-four-point-five, &.section-four-point-seven-five {
                display: flex;
                flex-wrap: wrap;
                height: 6rem;

                button {
                    width: 2rem;
                    height: 2rem;
                    margin: auto;

                    &.active {
                        border: 2px solid black;
                    }

                    &:first-of-type {
                        margin-left: 1/32 * 100%;
                    }
    
                    &:last-of-type {
                        margin-right: 1/32 * 100%;
                    }

                    &.red {
                        background-color: #FF6347;
                    }

                    &.yellow {
                        background-color: #FFD700;
                    }

                    &.green {
                        background-color: #008000;
                    }

                    &.purple {
                        background-color: #9370DB;
                    }

                    &.blue {
                        background-color: #0000FF;
                    }

                    &.white {
                        background-color: #FFFFFF;
                    }

                    &.black {
                        background-color: #000000;
                    }

                    &.pink {
                        background-color: #FF00FF;
                    }

                    &.aqua {
                        background-color: #00FFFF;
                    }

                    &.lime {
                        background-color: #32CD32;
                    }
                }


            }
        }
    }

    @media (max-width: 790px) {
        .notes {
            width: 100%;
        }

        .toolbar {
            display: none;
        }
    }

    @media (max-width: 950px) and (min-width: 790px) {
        .notes {
            width: 70%;
        }

        .toolbar {
            width: 30%;
        }
    }
    .y-cursor {
        border-left: 1px solid #58a6ff;
        margin-left: -1px;
        position: relative;
        pointer-events: none;
      }
      
      .y-cursor > div {
        background-color: #58a6ff;
        position: absolute;
        top: -1.05em;
        left: -1px;
        color: white;
        font-size: 13px;
        font-family: sans-serif;
        padding: 0 2px;
        white-space: nowrap;
      }
      
      .y-cursor-selection {
        background-color: rgba(88, 166, 255, 0.5);
      }
}